.panel {
  background: #1e242e;
  width: 300px;
  height: 300px;
  margin: 20px auto;
  padding: 40px;
  border-radius: 20px;
  text-align: left;
  line-height: 1.3;
}
.thxPanel {
  background: #1e242e;
  width: 300px;
  height: 300px;
  margin: 20px auto;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 1.3;
}
.thxPanel h1{
  font-size: 1.5rem;
  margin: 0;
}
.star {
  background: #272e3f;
  padding: 15px;
  width: 20px;
  border-radius: 50%;
}
.team{
  width: 200px;
  display: flex;
  justify-content: center;
}
.selected{
  color: rgba(255, 207, 48, 1);
  border-radius: 30px;
  background: rgba(129, 133, 144, .5);
  padding: 3px 20px;
}

.title {
  font-size: 2.5rem;
  margin: 10px auto;
}
.description {
  color: #adadad;
  font-size: 0.8em;
  padding: 0;
}
.ratingDescription {
  color: #adadad;
  font-size: 0.8em;

}
.group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.rating {
  background: rgba(39, 46, 63, 1);
  border: transparent;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: #eee;
}
.rating:hover {
  background: rgba(129, 133, 144, 1);
}
.rating:focus {
  background: rgba(255, 207, 48, 1);
  color: #333;
}

.submit {
  width: 100%;
  border: none;
  border-radius: 40px;
  background: rgba(255, 207, 48, 1);
  color: #565656;
  padding: 15px;
  margin-top: 10px;
  text-transform: uppercase;
}
.submit:hover {
  background: rgba(255, 207, 48, 0.8);
}
